* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
}
 
.hero-section {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.774)), url(../imgaes/Products-imges/hero-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section1 {
    width: 100%;
    min-height: 80vh;
}

.content-1 {
    min-height: 80vh;
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.section2 {
    width: 100%;
    height: 60vh;
}
.custom-border{
    border: 2px solid #B87C4C;
    padding: 35px 0;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: "";
    position: absolute;
    background-color: #b87c4c;
    width: 80%;
    bottom: -10px;
    left: 10%;
    height: 4px;
    border-radius: 50px;
}
.section3{
    width: 100%;
    height: 80vh;
}
.section4{ 
    width: 100%;
    min-height: 80vh;
}
.section5{
    width: 100%;
    min-height: 70vh;
}
.section5 .row{
    margin-bottom: 3em;
}
.section5 .row h1{
    color: #B87C4C;
}



@media(max-width: 512px){
    .section1, .section3, .section4, .section5{
        text-align: center;
    }
}