*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    overflow-x: hidden;
}
.hero-section{
    width: 100%;
    height: 80vh;
    /* background-color: cyan; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(255, 255, 255, 0.69)) ,url(../imgaes/Products-imges/hero-bg.jpeg);
}
.underline{
    display: inline-block;
    position: relative;
}
.underline::after{
    content: "";
    position: absolute;
    background-color: #B87C4C;
    width: 80%;
    height: 3px;
    border-radius: 30px;
    left: 10%;
    bottom: -8px;
}
.hero-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.faqs-wrapper{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 25px;
}
.faqs-wrapper .accordion-header button{
    font-weight: bold;
}
.last-section{
    width: 100%;
    min-height: 50vh;
}
.custom-btn {
    padding: 8px 18px;
    color: #b87c4c;
    border-radius: 25px;
    text-decoration: none;
    position: relative;
    background-color: transparent;
    border: 2px solid #b87c4c;
    z-index: 2;
    transition: all 0.5s ease;
    display: inline-block;
    overflow: hidden;
}

.custom-btn::after {
    content: "";
    position: absolute;
    background-color: #b87c4c;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 100%;
    transition: all 0.5s ease;
    z-index: -1;
    bottom: -100%;
}

.custom-btn:hover::after {
    bottom: 0;
    border-radius: 0;
}

.custom-btn:hover {
    color: #F7F1DE;
}