* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

#section1 {
    width: 100%;
    min-height: 100vh;
}

.hero-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-img img {
    width: 90%;
    transform: rotate(-3deg);
    border-radius: 15px;
    transition: 0.4s ease;
}

.hero-img img:hover {
    transform: scale(1.05) rotate(-3deg);
}

.custom-btn {
    padding: 8px 18px;
    color: #b87c4c;
    border-radius: 25px;
    text-decoration: none;
    position: relative;
    background-color: transparent;
    border: 2px solid #b87c4c;
    z-index: 2;
    transition: all 0.5s ease;
    display: inline-block;
    overflow: hidden;
}

.custom-btn::after {
    content: "";
    position: absolute;
    background-color: #b87c4c;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 100%;
    transition: all 0.5s ease;
    z-index: -1;
    bottom: -100%;
}

.custom-btn:hover::after {
    bottom: 0;
    border-radius: 0;
}

.custom-btn:hover {
    color: #F7F1DE;
}


/* section 2 */
#section2 {
    width: 100%;
    min-height: 80vh;
}

.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: "";
    position: absolute;
    background-color: #b87c4c;
    width: 80%;
    bottom: -10px;
    left: 10%;
    height: 4px;
    border-radius: 50px;
}

.grid-wrapper {
    width: 100%;
    min-height: 80vh;
}

.grid-wrapper img {
    width: 100%;
    transition: all 0.5s ease;
}

.grid-wrapper .item {
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.item::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    cursor: pointer;
    pointer-events: none;
    left: 0;
    opacity: 0;
    top: 0;
}

.item:hover::after {
    opacity: 60%;
}

.item:hover img {
    transform: scale(1.05);
}

.item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.5s;
    z-index: 3;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
}

.item:hover p {
    opacity: 1;

}

/* menus section */
#menus-section {
    min-height: 50vh;
    width: 100%;
}

.border-effect {
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: all 0.5s ease;
}

.border-effect:hover::after {
    animation: border-animation 2s infinite ease;
    opacity: 1;
}

.border-effect:hover {
    transform: scale(1.03);
}

.border-effect::after {
    content: "";
    transition: all 0.5s ease;
    position: absolute;
    background-color: #b87c4c;
    z-index: -1;
    width: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    height: 200%;
}

/* menu end */

/* sction 3 */
#section3 {
    width: 100%;
    min-height: 80vh;
}

.content-wrapper {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.section3-content {
    display: flex;
    width: 100%;
    min-height: 60vh;
}

.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.293), rgba(0, 0, 0, 0.564)), url(../imgaes/home-images/sub-bg-1.jpeg);
    color: white;
    padding: 20px;
}

.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.888), rgba(0, 0, 0, 0.659)), url(../imgaes/home-images/sub-bg-2.jpg);
    color: white;
}

/* section 4 */
#section4 {
    width: 100%;
    min-height: 80vh;
}

#section4 .container {
    min-height: 80vh;
}

.custom-border {
    border: 2px solid #b87c4c;
    padding: 50px 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* section 5 */
#section5 {
    width: 100%;
    height: 80vh;
}

.scroll-bar-container {
    width: 100%;
    height: 55vh;
    background-color: #b87d4c2f;
    overflow: hidden;
    padding: 10px 0 !important;
}

.scroll-bar {
    width: max-content;
    display: flex;
    animation: scroll-bar-anime 15s linear infinite;
}

.scroll-bar p {
    margin: 0 !important;
}

.scroll-bar-item {
    flex: 0 0 auto;
    width: 300px;
    border-radius: 20px;
    transition: all 0.5s ease;
    cursor: pointer;
    height: 100%;
    background-color: white;
    margin: 0 10px;
}

.scroll-bar-item>div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.scroll-bar:hover {
    animation-play-state: paused;
}

.scroll-bar-item:hover {
    transform: scale(1.03);
}

.scroll-bar img {
    width: 90px;
}

@keyframes scroll-bar-anime {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }

}

@keyframes border-animation {
    from {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(225deg);
    }
}

/* section 6 */
#section6 {
    width: 100%;
    min-height: 50vh;
}

#section6 .row {
    min-height: 50vh;
}

.icons {
    width: 35px;
    transition: all 0.2s ease;
}

.icons:hover {
    transform: scale(1.2) !important;
}

@media(max-width: 512px) {
    #section3 {
        padding: 20px 0;
    }

    .left,
    .right {
        padding: 18px;
    }

    .hero-img img {
        width: 100%;
    }

    .hero-img {
        padding: 0 20px;
    }

    .hero-content {
        padding-top: 80px;
    }

    .hero-content .content {
        padding: 15px;
    }

    #section6 {
        text-align: center;
    }

    #section6 p {
        margin: auto;
    }

    .icons-wrapper {
        justify-content: center;
    }

}