* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

nav {
    background-color: #f7f1deb5;
    backdrop-filter: blur(10px);
}

.custom-link {
    font-size: 18px;
    position: relative;
}

.custom-link:hover {
    color: #B87C4C;
}

.custom-link.active {
    color: #B87C4C !important;
}

.navbar-brand {
    font-size: 1.7em;
}

.navbar-brand span {
    color: #B87C4C;
}

.navbar-nav {
    margin-right: 10px;
}

/* footer */
footer {
    width: 100%;
    min-height: 50vh;
    background-color: #F7F1DE;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    padding: 0;
}

footer a:hover {
    color: #B87C4C;
}

.footer-icons {
    display: flex;
    gap: 12px;
}

.footer-icons img:hover {
    transform: scale(1.2);
}

.footer-icons img {
    width: 35px;
    transition: all 0.3s ease;
}

footer .container {
    min-height: 50vh;
}

footer h1 {
    color: black;
}

.custom-btn {
    padding: 8px 18px;
    color: #b87c4c;
    border-radius: 25px;
    text-decoration: none;
    position: relative;
    background-color: transparent;
    border: 2px solid #b87c4c;
    z-index: 2;
    transition: all 0.5s ease;
    display: inline-block;
    overflow: hidden;
}

.custom-btn::after {
    content: "";
    position: absolute;
    background-color: #b87c4c;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 100%;
    transition: all 0.5s ease;
    z-index: -1;
    bottom: -100%;
}

.custom-btn:hover::after {
    bottom: 0;
    border-radius: 0;
}

.custom-btn.active::after {
    border-radius: 0;
    z-index: -1;
    bottom: 0;

}

.custom-btn.active {
    color: white;
}

.custom-btn:hover {
    color: #F7F1DE;
}