* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    overflow-x: hidden; 
}

.hero-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.774)), url(../imgaes/Products-imges/hero-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-color: #F7F1DE;

}

.icons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.icons img {
    width: 30px;
}

.icons a {
    transition: all 0.2s ease-in;
}

.icons a:hover {
    transform: scale(1.3);
}

.section1 {
    width: 100%;
    min-height: 100vh;
}

.custom-form {
    min-height: 100vh;
}

.queries img {
    width: 35px;
}

.queries div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.queries p:hover {
    color: #B87C4C;
    cursor: pointer;
}

.under-line {
    position: relative;
    display: inline-block;
}

.under-line::after {
    content: "";
    position: absolute;
    background-color: #B87C4C;
    width: 80%;
    height: 3px;
    border-radius: 30px;
    left: 10%;
    bottom: -8px;
}

.custom-btn {
    padding: 8px 18px;
    color: #b87c4c;
    border-radius: 25px;
    text-decoration: none;
    background-color: transparent;
    position: relative;
    border: 2px solid #b87c4c;
    z-index: 2;
    transition: all 0.5s ease;
    display: inline-block;
    overflow: hidden;
}

.custom-btn::after {
    content: "";
    position: absolute;
    background-color: #b87c4c;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 100%;
    transition: all 0.5s ease;
    z-index: -1;
    bottom: -100%;
}

.custom-btn:hover::after {
    bottom: 0;
    border-radius: 0;
}

.custom-btn:hover {
    color: #F7F1DE;
}
.section2{
    width: 100%;
    min-height: 80vh;
}
#locationSection{
    width: 100%;
    min-height: 60vh;
}
.location-icon{
    width: 18px;
}
.cards-images{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    left: 0;
    top: 0;
}
.card{
    cursor: pointer;
    border-radius: 20px !important;
    overflow: hidden;
    transition: all 0.5s ease;
}
.card:hover img{
    opacity: 0;
}
.card:hover{
    transform: scale(1.02);
}
/* media  */
@media(max-width: 512px){
    .left-content{
        text-align: center;
    }
    .queries div{
        justify-content: center;
    }
    #locationSection{
        text-align: center;
    }
    .address-container{
        justify-content: center;
    }

}