* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    overflow-x: hidden;
}

.hero-section {
    width: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.774)), url(../imgaes/Products-imges/hero-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-color: #F7F1DE;
}

.grid {
    columns: 3;
    column-width: 20%;
}

.grid-item {
    width: 100%;
    position: relative;
    margin-top: 15px;
    overflow: hidden;
    cursor: pointer;
}

.grid-item img {
    width: 100%;
    transition: 0.5s ease;
}

.grid-item::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    top: 0;
    pointer-events: none;
    left: 0;
    opacity: 0;
}

.grid-item:hover::after {
    opacity: 60%;
}

.grid-item:hover img {
    transform: scale(1.05);
}

.products-nav .nav-link {
    background-color: transparent !important;
    color: black;
    position: relative;
}

.products-nav .nav-link:hover {
    color: #B87C4C !important;
}

.products-nav .nav-link::after {
    content: "";
    position: absolute;
    background-color: #B87C4C;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.5s ease;
    transform: scaleX(0);
    bottom: 0;
}

.products-nav .nav-link.active {
    color: #B87C4C !important;
}

.products-nav .nav-link.active::after {
    transform: scaleX(1);

}
.qty-btns{
    width: 30px;
    font-size: 24px;
    background-color: transparent;
    display: inline-block;
    background-color: #F7F1DE;
    border: none;
}
#modal-sub-para a{
    text-decoration: none;
    color: #B87C4C;
}
#modal-sub-para a:hover{
    text-decoration: underline;
}
#increase, #decrease{
    width: 25px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media(max-width: 512px) {
    .grid {
        columns: 2;
    }
}