*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    backdrop-filter: blur(10px);
    height: 100vh;
    
}
.bg-img{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -3;
}
.profile-nav{
    position: relative;
}
.profile-nav.active::after{
    bottom: 0;
}
.logout-btn{
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    background-color: #b87c4c;
    color: white;
}