* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    overflow-x: hidden;
}

.bg-img {
    object-fit: cover;
    object-position: center;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.main {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(12px);
}

.my-btn {
    background-color: #B87C4C !important;
    color: #F7F1DE !important;
}
.form{
    backdrop-filter: blur(10px);
    color: black;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.294);
}

.my-btn:hover {
    background-color: #da945b !important;
}


@media(max-width: 512px){
    .form{
        width: 100% !important  ;
    }
}